nav{

	height: 80px;
	box-shadow: $shadow2;
	background-color: $white;
	z-index: 2;

	.search{
	
		padding-top: 20px;
		width: 400px;

		.inputs{

			box-shadow: $shadow2;

			span{
				background: $white;
				border: none;
			}

			input{
				height: 45px;
				border: none;
				width: 400px;
			}
		}
	}

	a{
		color: $grey;

		&:hover{
			color: $grey;
		}
	}

	ul li{ 

		padding-left: 10px;

		a{
			color: $grey;

			&:hover{
				color: $grey;
			}
		}

		.btn-register{
			border: 0.5px solid $white;
			border-radius: 4px;

		}
	}
}

#images{

	padding-top: 110px;

	.max{
		height: 300px;
		width: 100%;
		overflow: hidden;

		img{
			padding: 5px 0px 0px 0px;
		}
	}

	.min {

		height: 300px;
		overflow: hidden;

		div{
			height: 150px;
			width: 50%;
			overflow: hidden;
		}

		img{
			width: 100%;
			padding: 5px 0px 0px 5px;
		}

	}
}

#details{

	.header{

		img{
			width: 60px;
			border-radius: 30px;
		}
	}

	.contact{
		// position: -webkit-sticky;
		position: sticky;
		top: 100px;
		bottom: 20px;
		z-index: 1;

	}
}

#options{
	

	.link-parent{
		padding: 8px;
		// background-color: $black;

		a{
			color: $black;
		}
	}
}