$first-font: "Muli";
$second-font: "PT Serif";
$white: #FFFFFF;
$cyan: #00BCD4;
$black: #000000;
$grey: #111111;
$shadow: 0px 0px 9px -1px rgba(0,0,0,0.46);
$shadow2: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;

body {
  font-family: $first-font;
  background-color: $white;
}

p{
	font-family: $first-font;
}

h1, h2,h3,h4,h5,h6{
	font-family: $second-font;
}

/* INDEX
*/

@import 'index';

@import 'card';

/*
*/

/* LIST
*/

// @import 'list';

// @import 'card';

/*
*/

/* DETAILS
*/

// @import 'details';

// @import 'card';

/*
*/


/* LIST OFFERTS
*/

// @import 'list-offerts';

/*
*/


/* LIST OFFERTS
*/

// @import 'offert-details';

// @import 'card';

/*
*/


